{% extends "base.html" %}

{% block title %}
    My Projects
{% endblock title %}
{% block content %}
    <main>
        <div>
            <p>
                <a href="{% url 'create_project' %}">Create a new project</a>
            </p>
            <h1>My Projects</h1>
            {% if not list_projects %}
                <p>You are not assigned to any projects</p>
            {% else %}
                <table>
                    <thead>
                        <tr>Name</tr>
                        <tr>Number of tasks</tr>
                    </thead>
                    <tbody>
                        {% for project in list_projects %}
                            <tr>
                                <td>{{ project.name }}</td>
                                <td>{{ project.description }}</td>
                                <td>{{ project.tasks.count }}</td>
                                <td>
                                    <a href="{% url 'show_project' project.id %}">View Details</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </main>
{% endblock content %}
